
<div class="container ">

  <div class="row">
    <div class="col-sm-12">

      <div class="modal-header">

          <h4 class="modal-title">Crear Actividad de {{categorySelect}}</h4>

          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>

      </div>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
                
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav mr-auto">
        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Deporte
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Ajedrez')">Ajedrez</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Atletismo')" >Atletismo</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Baloncesto')" >Baloncesto</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Futbol')" >Futbol</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Futbol de salon')" >Futbol de salon</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Gimnasio')" >Gimnasio</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Natación')" >Natación</a>
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Tenis de mesa')" >Tenis de mesa</a>                   
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Voleibol')" >Voleibol</a>          
                  <a class="dropdown-item"  href="#" (click) = "setCategory('Parque recreacional')" >Parque recreacional</a>
                  
                  
                </div>
              </li>
        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cultura
                </a>
        
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" >Artes pláticas</a> 
                  <a class="dropdown-item" href="#" >Danza</a>       
                  <a class="dropdown-item" href="#" >Música</a>
                  <a class="dropdown-item" href="#" >Teatro</a>                               
                </div>
        
              </li>
        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Éxito Académico
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" >Monitoria</a>
                  <a class="dropdown-item" href="#" >Jovenes en acción</a>          
                  <a class="dropdown-item" href="#" >Casa estudiantil</a>
                  <a class="dropdown-item" href="#" >Bono estudiantil</a>       
                  <a class="dropdown-item" href="#" >Apollo res 050</a>       
                  <a class="dropdown-item" href="#" >Cafetria</a>   
                  <a class="dropdown-item" href="#" >Genracion E</a>     
                  <a class="dropdown-item" href="#" >Revición DDHH</a>             
                </div>
              </li>
        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Diversidad
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" >Comunidades étnias</a>
                  <a class="dropdown-item" href="#" >Género</a>          
                </div>
              </li>
        
              
            </ul>
            
          </div>
      </nav>
      
      <div class="modal-body">
          
          <form [formGroup]="todoForm" (ngSubmit)="saveTodo()">
            
            <div class="form-group">
              <label for="title"><strong>Titulo*</strong></label>
              <input type="text" id="title" placeholder="Ingrese el titulo de la actividad" class="form-control" formControlName="title" />                
              <span style="color:Red;" *ngIf="todoForm.controls['title'].touched && todoForm.controls['title'].errors?.required">El titulo es requerido</span>
            </div>

            <div class="form-group">
              <label for="description"><strong>Descripcion*</strong></label>
              <textarea  id="description" placeholder="Ingrese la descripcion de la actividad" class="form-control" formControlName="description"></textarea>
              <span style="color:Red;" 
                    *ngIf="todoForm.controls['description'].touched && todoForm.controls['description'].errors?.required">La descripcion es requerida</span>
            </div>

            <div class="form-group">
              <label for="date"><strong>Fecha de la actividad*</strong></label>
              <input type="date" id="date" placeholder="Ingrese la fecha de la actividad" class="form-control" formControlName="date" />                
              <span style="color:Red;" *ngIf="todoForm.controls['date'].touched && todoForm.controls['date'].errors?.required">La fecha es requerido</span>
            </div>

            <div class="form-group">
              <label for="time"><strong>Hora de la actividad*</strong></label>
              <input type="time" id="time" placeholder="Ingrese la hora de la actividad" class="form-control" formControlName="time" />                
              <span style="color:Red;" *ngIf="todoForm.controls['time'].touched && todoForm.controls['time'].errors?.required">La hora es requerido</span>
            </div>      

            <div class="form-group">
              <label for="place"><strong>Lugar de la actividad*</strong></label>
              <input type="text" id="place" placeholder="Ingrese el lugar de la actividad" class="form-control" formControlName="place" />                
              <span style="color:Red;" *ngIf="todoForm.controls['place'].touched && todoForm.controls['place'].errors?.required">El lugar es requerido</span>
            </div>   
            
          </form>
          
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        <button class="btn btn-primary" (click)="saveTodo()" [disabled]="todoForm.invalid">Save</button>
      </div>
      
    </div>
  </div>
</div>