
<div class="container app">
  <div class="row " style="margin-bottom: 10px;">

    <div class="col-sm-10 text-center">

      <h1>Administración de actividades</h1>

    </div>

    <div class="col-sm-2">

        <div class="alert alert-success alert-dismissable" *ngIf="mostrarNoptoficacion">

         <a href="#" class="close" (click)="cerrarNotoficacion()">&times;</a>
          {{mostrarNoptoficacion}}

        </div>

    </div>

  </div>
  <app-navbar></app-navbar>  
  <app-create-activity></app-create-activity>
</div>
